.wrapper{
    color:var(--text-color);
    margin-top: 80px;
}
.content{
    display: flex;
    margin-bottom: 50px;
}

.content_img{
    width: 300px;
    height: 430px;
}
.img{
    width: 300px;
    height: 430px;
    object-fit: cover;
    border-radius: 10px;
}
.content_text{
    padding-left: 20px;
    flex: 1;
}
.content_text h2 {
    color: var(--main-color);
}
.des{
    padding: 0 10px;
}
.ul{
    display: flex;
}
.ul li{
    padding: 0 5px;
}
.space  > li{
    padding: 10px 0px;
} 
.action{
    display: flex;
    align-items: center;
    cursor: pointer;
}  
.action svg{
    font-size: 25px;
}
.action > li{
    padding: 0 12px;
}
.action > li:first-child{
    padding:  0 12px 0 0px;
}
.action > li svg:hover{
    color: var(--main-color);
}
.character_info{
    background-color:#fff;
    border-radius: 10px;
    height: 250px;
    margin-bottom: 50px;
}
.img_character{
    margin-top:20px;
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.character_actor{
    color:#111;
    font-size: 16px;
    font-weight: 700;
    padding: 0px 10px;
}
.character_name_origin{
    color: #111;;    
    font-size: 14px;
    padding: 0 10px;
}
h4 {
    color: var(--main-color)!important;
}
img, video {
    max-width: none;
    height: max-content;
}
.box_notice {
    width: 100%;
    height: 80px;
    font-size: larger;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--main-color);
    background-color: var(--container-color);
    border-radius: 5px;
}